/* General */
body {
	margin: 0;
	padding: 0;
}

body.row {
	background-color: #002236;
}

.row {
	margin: 0 !important;
	padding: 0 !important;
}

.col-nav {
	margin: 0 !important;
	padding: 0 !important;
	background-color: #002236;
}

.col-content {
	margin: 0 !important;
	padding: 0 !important;
	background-color: #FFFFFF;
}

.container {
	width: 95% !important;
	max-width: 100% !important;
}

.content-container {
	display: block;
	margin-top: 0vh;
	margin-bottom: 20vh;
}

.content-container-sm {
	display: block;
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.content-container-bg {
	display: block;
	margin-top: 10vh;
	margin-bottom: 10vh;
}

.container h1 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
}

.container h3, h4 {
	text-align: center;
}


/* Desktop Navigation */
.table-of-contents {
	width: 	16vw;
	margin-top: 5vh;
}

.table-of-contents li {
	width: 50%;
	margin: 10vh auto;
	text-align: center;
	position: relative;
}

.table-of-contents a {
	width: 100%;
	padding-left: 0 !important;
	color: #a8a8a8;
	font-weight: 300;
	letter-spacing: 1.75px !important;
	border: 0 !important;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.table-of-contents a:hover {
	padding-left: 0 !important;
	border: 0 !important;
	color: #f7f7f7;
}

.table-of-contents a::after {
	position: absolute;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	content: '';
	width: 0;
	left: 50%;
	bottom: 0;
	height: 1px;
	background: #E8670A;
}

.table-of-contents a:hover::after {
	width: 100%;
	left: 0;
}

.table-of-contents a.active {
	padding-left: 0 !important;
	border: 0 !important;
	font-weight: 500;
	color: #f7f7f7;
}

.table-of-contents a.active::after {
	width: 100%;
	left: 0;
	height: 3px;
}


/* Main Content */
#main {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.text-blue {
	color: #002236;
}

.text-orange {
	color: #E8670A;
}

.headunderline {
	display: block;
	width: 15%;
	height: 3px;
	margin: 0 auto;
	background-color: black;
}

svg#bigTriangleOrange {
	padding-bottom: 1vh;
	pointer-events: none;
	background-color: white;
	height: 10vmin;
}

#bigTriangleOrange path {
	fill: rgba(232, 103, 10, 1);
	stroke: rgba(232, 103, 10, 1);
	stroke-width: 4;
	height: 10vmin;
}

svg#bigTriangleWhite {
	padding-bottom: 1vh;
	pointer-events: none;
	background-color: rgba(232, 103, 10, 1);
	height: 10vmin;
}

#bigTriangleWhite path {
	fill: white;
	stroke: white;
	stroke-width: 4;
	height: 10vmin;
}


/* Start Section */
#start {
	margin: 0 !important;
	padding: 0 !important;
}

.hero-image {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-image: rgb(232,103,10);
	background-image: -moz-linear-gradient(top, rgba(232,103,10,1) 0%, rgba(232,103,10,0.8) 3%, rgba(232,103,10,0.1) 20%, rgba(232,103,10,0.1) 50%, rgba(232,103,10,0.1) 85%, rgba(232,103,10,1) 95%, rgba(232,103,10,1) 95%, rgba(232,103,10,1) 100%), url("../img/workplace/workplace7.jpg");
	background-image: -webkit-linear-gradient(top, rgba(232,103,10,1) 0%,rgba(232,103,10,0.8) 3%,rgba(232,103,10,0.1) 20%,rgba(232,103,10,0.1) 50%,rgba(232,103,10,0.1) 85%,rgba(232,103,10,1) 95%,rgba(232,103,10,1) 95%,rgba(232,103,10,1) 100%), url("../img/workplace/workplace7.jpg");
	background-image: linear-gradient(to bottom, rgba(232,103,10,1) 0%,rgba(232,103,10,0.8) 3%,rgba(232,103,10,0.1) 20%,rgba(232,103,10,0.1) 50%,rgba(232,103,10,0.1) 85%,rgba(232,103,10,1) 95%,rgba(232,103,10,1) 95%,rgba(232,103,10,1) 100%), url("../img/workplace/workplace7.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.headline-wrapper {
	display: block;
	margin: auto;
	max-width: 80%;
	min-width: 60%;
	height: 12%;
	text-align: center;
	color: white;
	border: 5px solid rgba(242, 241, 241, 1);
	border-radius: 1px;
}

.headline-wrapper:hover {
	cursor: pointer;
	color: #E8670A;
	background-color: #002236;
	border-color: #fff;
}

.headline-text {
	margin: 2.5vh auto;
	text-transform: uppercase;
	font-size: 5vmin;
	font-weight: 600;
}

.mouse {
	display: block;
	margin: 0 auto 10vh auto;
	width: 5vmin;
	height: 10vmin;
	border-radius: 35%;
	border: 2px solid #002236;
}

.mouse span {
	display: block;
	margin: 1.5vmin auto;
	width: 1vmin;
	height: 1vmin;
	border-radius: 100%;
	background-color: #002236;
	border: 1px solid transparent;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-name: scroll;
	animation-name: scroll;
}

@-webkit-keyframes scroll {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(6vmin);
		transform: translateY(6vmin);
	}
}

@keyframes scroll {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(6vmin);
		-ms-transform: translateY(6vmin);
		transform: translateY(6vmin);
	}
}


/* About Section */
#about {
	margin-top: 30vh;
}

.portfolio-image {
	display: block;
	width: 20vw;
	margin: 0 auto;
	border-radius: 100%;
	border: 5px solid #002236;
}

.bordered-text {
	line-height: 2em;
	border: 5px solid #002236;
	padding: 2vmin;
}

.quote-wrapper {
	display: inline-block;
}

.quote-icon {
	display: block;
	width: 15vmin;
	height: 15vmin;
	margin: auto;
	color: #E8670A;
	background-color: #002236;
	font-size: 10vmin;
	text-align: center;
	border-radius: 100%;
}


/* Featured Section */
#featured {
	margin-top: 30vh;
}

#featured h4 {
	text-transform: uppercase;
}

.comparison-container {
	display: block;
	width: 80%;
	height: 40vmax;
	margin: auto;
	background: url("../img/project-portfolio/screenshot-desktop.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border: 2px solid #002236;
}


/* Work Section */
#work {
	margin-top: 30vh;
}

.content-image {
	display: block;
	width: 80%;
	margin: auto;
	border: 2px solid #002236;
	cursor: pointer;
}

.project-hero-image {
	display: block;
	width: 100%;
	margin: auto;
}

.project-image {
	display: block;
	width: 80%;
	margin: auto;
}


/* Contact Section */
#contact {
	padding-top: 0 !important;
	background-color: #E8670A;
}

#contact .row {
	width: 100%;
}

.findme-btns {
	display: block;
	width: 80%;
	height: 20vh;
	margin: 10vh;
}

.findme-btn {
	display: block;
	margin: 10vh auto;
	background-color: white;
	border-radius: 100%;
	cursor: pointer;
	font-size: 5rem;
	height: 10rem;
	width: 10rem;
	line-height: 10rem;
	position: relative;
	text-align: center;
}

.findme-btn i {
	background: none;
	height: 10rem;
	width: 10rem;
	left: 0;
	line-height: 10rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	z-index: 100;
}

.findme-btn i.fa-github {
	color: #171515;
}

.findme-btn i.fa-bitbucket {
	color: #205081;
}

.findme-btn i.fa-xing {
	color: #005A5F;
}

.findme-btn:hover i {
	color: white;
}

.findme-btn span {
	border-radius: 0;
	display: block;
	height: 0;
	width: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.github span {
	background-color: #171515;
}

.bitbucket span {
	background-color: #205081;
}

.xing span {
	background-color: #005A5F;
}

.findme-btn:hover span {
	width: 10rem;
	height: 10rem;
	border-radius: 100%;
	margin: -5rem;
}

figure.rotating-button {
	width: 80%;
	margin: 10vh auto;
}

figure.rotating-button div {
	width: 100%;
	padding: 5vh 5vw;
	color: #E8670A;
	background-color: #002236;
	border: 5px solid #fff;
	font-size: 3vmin;
	text-align: center;
}


/* Footer */
#footer {
	background-color: #0B0500;
}

.footer-copyright {
	background-color: #0B0500;
}


/* Mobile Navigation */
.navbar-space {
	height: 8vh;
}

.fixed-navbar-bottom {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 8vh;
	margin: 0;
	padding: 0;
	z-index: 9999;
	background-color: #000E17;
	list-style: none;
}

.fixed-navbar-bottom a {
	margin: 3vh auto;
	color: #f7f7f7;
	text-align: center;
	font-size: 2vmin;
	line-height: 2vmin;
}
