body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  background: #0B486B;
}

.row {
  margin: 0;
  padding: 0;
}

#start {
  min-height: 80rem;
}

#about {
  min-height: 80rem;
}

#work {
  min-height: 80rem;
}

.space {
  min-height: 40vh;
}

/* Navigation column */
.col-navigation {
}

.table-of-contents {
  max-width: 100%;
}

.table-of-contents li {
  margin-top: 3vh;
  margin-bottom: 12vh;
  padding-left: 2rem;
  width: 100%;
}

.table-of-contents a {
  font-weight: 300;
  color: #a8a8a8;
  padding-left: 0;
  height: 1.5rem;
  width: 100%;
  line-height: 1.5rem;
  letter-spacing: 1.5px;
}

.table-of-contents a:hover {
  color: #f4f4f4;
  padding-left: 0;
  border-left: 0;
  border-bottom: 1px solid #F56217;
}

.table-of-contents a.active {
  color: #f4f4f4;
  font-weight: 500;
  padding-left: 0;
  border-left: 0;
  border-bottom: 3px solid #F56217;
}

.table-of-contents a i {
  padding-right: 0;
  width: 2rem;
}

/* Bottom navigation */
.fixed-navbar-bottom {
  background-color: black;
  height: 8vh;
  min-height: 4rem;
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
}

.navbar-bottom-element {
  text-align: center;
}

.fixed-navbar-bottom-space {
  height: 8vh;
}

/* Content column */
.col-content {
  margin: 0;
  background: linear-gradient(#F56217, #772700);
}

.content-section {
  padding: 5em;
}

/* Card collection */
.card-group {
  margin-top: 5em;
  margin-bottom: 5em;
}

.card-item {
  margin: 5em;
}

.card-description {
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: justify;
}

.card-info-listing {
  margin-top: 2em;
  padding-top: 1em;
  margin-bottom: 2em;
  padding-bottom: 1em;
  border: 1px solid black;
}

.card-info-listing .legend {
  background-color: #444444;
  color: white;
  width: 50%;
  display: inline-block;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid black;
}

.card-info-listing ul li {
  margin-top: 1em;
  margin-bottom: 1em;
}

.card-info-listing ul:first-of-type li {
  font-weight: bold;
}

/* Portrait area */
.portrait-area {
  margin: 5em;
  width: 90%;
  height: 50vh;
}

/* Quotes */
.quote-container {
  margin: 10vh auto 10vh auto;
  width: 100%;
  display: inline-block;
}

.quote-wrapper {
  margin: 5em 3em;
  text-align: center;
  display: block;
}

.quote{
  color: white;
  margin: 0;
  padding: 3em;
  background-color: #ee6e73;
  border: 2px solid black;
  border-radius: 1em;
  font-size: 200%;
}

img.portrait {
  width: 30%;
  min-height: 10vh;
  display: block;
  border: 2px solid black;
  border-radius: 100%;
  margin: 0 auto;
}

/* Footer */
#footer {
  background-color: #072738;
}

.footer-copyright {
  background-color: #072738;
}